@import url("reset.css");
@import url("menu.css");
@import url("title.css");
@import url("about.css");
@import url("skillsHobbies.css");
@import url("courses.css");
@import url("projects.css");
@import url("contact.css");
@import url("footer.css");


:root{
   --background-color: #F5F5F5;
   --blue-color: #2A7AE4; 
   --dark-blue-color: #144d98;
   --dark-grey: #C8C8C8;
   --default-font-color: #464646;
   --second-background-color: #EAF2FD;
}

html {
    background-color: var(--background-color);
    font-size: 62.5%;
}

body {
    color: var(--default-font-color);
    font-family: 'Raleway', sans-serif;   
    font-size: 1.6rem;        
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 3%;
}

button{
    font-family: 'Raleway', sans-serif;
}



/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
